.icon-bar {
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .icon-bar {
      width: 160px;
      height: 32px; } }
  @media only screen and (min-width: 960px) {
    .icon-bar {
      width: 200px;
      height: 40px; } }

.slider-image-icon {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e2;
  font: #cccccc;
  padding: 6px 6px 6px 10px;
  font-size: 14px;
  width: 35px;
  height: 35px; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-image-icon {
      padding: 5px 5px 5px 8px;
      font-size: 11px;
      width: 28px;
      height: 28px; } }
  @media only screen and (min-width: 960px) {
    .slider-image-icon {
      padding: 6px 6px 6px 10px;
      font-size: 14px;
      width: 35px;
      height: 35px; } }

.slider-icon {
  color: #cccccc; }

.slider-icon:hover {
  color: #57c5a0; }

.price {
  background: #57c5a0;
  font-family: Logo-btns;
  color: white;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .price {
      margin-bottom: 10px;
      padding-top: 17px;
      font-size: 11px;
      width: 48px;
      height: 44px; } }
  @media only screen and (min-width: 960px) {
    .price {
      margin-bottom: 13px;
      padding-top: 21px;
      font-size: 13px;
      width: 60px;
      height: 55px; } }

.slider-text-header {
  font-family: Logo; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-text-header {
      font-size: 24px;
      line-height: 24px;
      width: 360px; } }
  @media only screen and (min-width: 960px) {
    .slider-text-header {
      font-size: 30px;
      line-height: 30px;
      width: 450px; } }

.slider-ordinar-text {
  font-family: Logo;
  float: left; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-ordinar-text {
      font-size: 14px;
      line-height: 16px;
      padding-right: 70px; } }
  @media only screen and (min-width: 960px) {
    .slider-ordinar-text {
      font-size: 17px;
      line-height: 20px;
      padding-right: 82px; } }

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .slider-text {
    padding: 32px 70px 0px 350px; } }

@media only screen and (min-width: 960px) {
  .slider-text {
    padding: 40px 80px 0px 515px; } }

.slider-status-legend-header, .slider-status-legend-header-active {
  font-family: Logo-btns;
  font-size: 14px;
  padding-top: 6px;
  color: #979797; }

.slider-status-legend-header-active {
  color: white; }

.slider-status-legend {
  font-family: Logo-btns;
  font-size: 9px;
  color: #979797;
  font-size: 11px;
  line-height: 0px; }

.slides {
  display: none; }

.slides-active {
  background-image: url("../images/background.jpg");
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slides-active {
      width: 768px;
      height: 315px; } }
  @media only screen and (min-width: 960px) {
    .slides-active {
      width: 960px;
      height: 315px; } }

.slider-button {
  height: 70px;
  border: none;
  background-color: #2e2e2e; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-button {
      width: 136px; } }
  @media only screen and (min-width: 960px) {
    .slider-button {
      width: 170px; } }

.slider-status, .slider-status-active {
  padding: 2px 2px 2px 2px;
  height: 8px;
  position: relative;
  top: 2px;
  left: 2px; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-status, .slider-status-active {
      width: 122px; } }
  @media only screen and (min-width: 960px) {
    .slider-status, .slider-status-active {
      width: 154px; } }

.slider-status-active {
  background-color: #57c5a0; }

.slider-status-margin {
  background-color: black;
  height: 12px;
  border-color: #2e2e2e;
  border-style: solid;
  border: 1px;
  display: flex;
  margin-top: 4px; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .slider-status-margin {
      width: 126px; } }
  @media only screen and (min-width: 960px) {
    .slider-status-margin {
      width: 158px; } }

#slider {
  height: 70px;
  background-color: #2e2e2e;
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    #slider {
      width: 768px;
      padding: 0px 218px 0px 176px; } }
  @media only screen and (min-width: 960px) {
    #slider {
      width: 960px;
      padding: 0px 265px 0px 220px; } }
