#incorrect-email{
    display:none;
}

#correct-email{
    display:none;
}

#subscribe-modal-body{
    font-family:Aller_Rg !important;
    font-size: 20px !important;
    margin:20px;
}

#register-footer {
    display: none;
}

#register-form {
    display: none;
}

#terms-form {
    display: none;
}

.modal-header {
    padding: 0px 10px 0px 10px;
    height: 60px;
    background-color: #919191;
    display: flex;
    flex-direction: flex-start;
}

.modal-btn-base {
    font-family: "Logo-btns";
    font-size: 14px;
    color: black;
    border-color: #4c4c4c;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    padding-left: 8px;
}

.modal-nav-btn {
    @extend .modal-btn-base;
    background-color: #7C7C7C;
    height: 30px;
    width: 120px;
    position: relative;
    bottom: -10px;
}

.modal-nav-btn-active {
    @extend .modal-btn-base;
    background-color: white;
    height: 40px;
    width: 120px;
    border-bottom: none;
    position: relative;
    bottom: -5px;
}

.modal-close-btn {
    @extend .modal-btn-base;
    background-color: #7C7C7C;
    height: 40px;
    width: 50px;
}

.modal-signup-btn {
    @extend .modal-btn-base;
    background-color: #b1aeae;
    height: 40px;
    width: 70px;
}

.modal-login-btn {
    @extend .modal-btn-base;
    background-color: #b1aeae;
    height: 40px;
    width: 60px;
}

.pb-modalreglog-container {
    margin-top: 100px;
}

.pb-modalreglog-legend {
    font-family: "Logo-btns";
    text-align: center;
}

.pb-modalreglog-input-group {
    font-family: "Logo-btns";
    margin: auto;
}

.pb-modalreglog-submit {
    margin-left: 5px;
}

.pb-modalreglog-form-reg {
    text-align: center;
}

.pb-modalreglog-footer p {
    text-align: center;
    margin-top: 20px;
}

#pb-modalreglog-progressbar {
    border-radius: 0px;
}
