body{ 
    width: 960px; 
}

#register-footer{
    display: none;
}

#register-form{
    display: none;
}

#terms-form{
    display: none;
}

.modal-header{
    padding: 0px 10px 0px 10px;
    height:60px;
    background-color:  #919191;
    display: flex;
    flex-direction:flex-start;
}

.modal-btn-base{
  font-family: "Logo-btns";
  font-size: 14px;
  color: black;
  border-color: #4c4c4c;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 8px;
}

.modal-nav-btn {
  @extend .modal-btn-base;
  background-color: #7C7C7C;
  height: 30px;
  width: 120px;
  position: relative;
  bottom: -10px;
}

.modal-nav-btn-active{
    @extend .modal-btn-base;
    background-color: white;
    height: 40px;
    width: 120px;
    border-bottom: none;
    position: relative;
    bottom: -5px;
}

.modal-close-btn{
  @extend .modal-btn-base;
  background-color: #7C7C7C;
  height: 40px;
  width: 50px;
}

.modal-signup-btn{
  @extend .modal-btn-base;
  background-color: #b1aeae;
  height: 40px;
  width: 70px;
}

.modal-login-btn{
    @extend .modal-btn-base;
    background-color: #b1aeae;
    height: 40px;
    width: 60px;
}

.pb-modalreglog-container
{
    margin-top: 100px;
}

.pb-modalreglog-legend
{
    font-family: "Logo-btns";
    text-align: center;
}

.pb-modalreglog-input-group
{
    font-family:"Logo-btns";
    margin: auto;
}

.pb-modalreglog-submit
{
    margin-left: 5px;
}

.pb-modalreglog-form-reg
{
    text-align: center;
}

.pb-modalreglog-footer p
{
    text-align: center;
    margin-top: 20px;
}

#pb-modalreglog-progressbar
{
    border-radius: 0px;
}

.search-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .search-dropdown-content {
    font-family: "Logo-btns";
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #4c4c4c;
    width: 120px;
    overflow: auto;
  }
  
  .search-dropdown-content a{
    color: #919191;
    padding: 12px 12px;
    padding-left: 8px;
    text-decoration: none;
    display: block;
    border-style:solid;
    border-width: 1px;
    border-bottom: #919191
  }

.logo-bar-btn{
    font-family: "Logo-btns";
    font-size: 12px;
    width: 120px;
    color: #b1aeae;
    border-color:  #b1aeae;
    height: 57px;
    background-color: black;
    border-style:solid;
    border-width: 1px;
    border-top: none;
    border-bottom:none;
    border-left:none;
    text-align: left;
    padding-left: 8px;
}
#logo-bar{
    padding: 0px 100px 0px 100px;
    background-color: black;
    display: flex;
    flex-direction:flex-start;   

}
#logo-btn{
    padding: 15px 0px 15px 0px;
    width:520px;
    border-right:1px solid #b1aeae;
}

#logo{
    font-family: "Logo";
    color: #57c5a0;
    font-size: 20px;
    text-decoration: none;
    align-content: center;
}

@font-face {     
    font-family: "Logo"; 
    src: url("../fonts/STHeitiSC-Light.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller_BdIt"; 
    src: url("../fonts/Aller_BdIt.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller_It"; 
    src: url("../fonts/Aller_It.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller_Lt"; 
    src: url("../fonts/Aller_Lt.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller_LtIt"; 
    src: url("../fonts/Aller_LtIt.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller_Rg"; 
    src: url("../fonts/Aller_Rg.ttf") format("truetype"); 
}

@font-face {     
    font-family: "Aller"; 
    src: url("../fonts/Aller.ttf") format("truetype"); 
}

@font-face {     
    font-family: "AllerDisplay"; 
    src: url("../fonts/AllerDisplay.ttf") format("truetype"); 
}

@font-face {     
    font-family: Logo-btns; 
    src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); 
}

.c{
    font-family: Logo;
}
